@import '../../shared/styles/utilities';

$maxPageWidth: rem(1439px);

html,
body {
	min-height: 100%;
	height: 100%;
}

.Page--marginFix {
	@include margin-collapse-fix;
}

.Page {
	height: 100%;
	padding: spacing(tight) spacing();
	transition: 0.1s;
	max-width: $maxPageWidth;
	margin: 0 auto;

	@include breakpoint-after(450px) {
		padding: spacing() spacing(extraLoose);
	}
}

.Page--paddingNone {
	padding: spacing(none);
}

.Page--paddingSmall {
	padding: spacing(tight);
}

.Page--paddingLarge {
	padding: spacing(extraLoose);
}
