@import '../../shared/styles/utilities';

$statusDropdown-width: rem(150px);

.StatusDropdown {
	position: relative;
	display: flex;
	width: $statusDropdown-width;
	flex-direction: column;
}

.StatusDropdown--Status {
	padding: rem(2px) spacing(base-tight);
	border-radius: border-radius();
	box-shadow: shadow(faint);
	color: color($white);
	background-color: color($grey);
	font-weight: bold;
	width: $statusDropdown-width;
	cursor: pointer;
	transition: 0.2s;
	text-shadow: 0 0 2px transparentize(color($black), 0.8);

	&:hover {
		box-shadow: shadow();
	}
}

.StatusDropdown--Options {
	transition: all 300ms ease;
	animation: moveitback 400ms ease forwards;
	will-change: transform;
	z-index: $zIndex-dropdown;
	margin-top: rem(28px);
	position: absolute;
	top: 0;
	background-color: transparentize(color($white), 0.15);
	border-radius: border-radius();
	padding: rem(8px) rem(12px);
	box-shadow: shadow(faint);
	margin-left: rem(-12px);
}

.StatusDropdown--Options-Item:hover {
	transform: translateY(-2px);
}

.StatusDropdown--Options {
	animation: moveit 550ms ease forwards;
	will-change: transform;
}
