@import '../../shared/styles/utilities';

.TicketListItem {
	width: 100%;
	height: 100%;
	padding: spacing(extraTight) spacing(extraTight);
	border-radius: border-radius();
	cursor: pointer;
	transition: 0.2s;

	&:hover {
		background-color: color($grey, lighter);
	}
	&:active {
		background-color: color($grey, light);
	}
}

.TicketListItem--Text {
	margin: 0 spacing(tight);
}

.TicketListItem--Text-Title {
	border-bottom: rem(1px) solid color($translucent);
	color: color($ink);
	min-width: rem(60px);
	max-width: fit-content;
	margin-right: spacing();
}

.TicketListItem--Text-Date {
	min-width: rem(50px);
	display: none;

	@include breakpoint-after(450px) {
		display: block;
	}
}
