@import '../../shared/styles/utilities';

.SmartConsole {
	padding: spacing(extraTight) spacing();
}

.SmartConsole--Input {
	border: none;
	font-size: rem(20px);
	line-height: rem(40px);
	padding: 0 spacing(tight);
	width: 100%;
	outline: none;
}
