@import '../../shared/styles/utilities';

.TypeDropdown {
	position: relative;
}

.TypeDropdown--Status {
	padding: rem(2px) spacing(extraTight);
	border-radius: border-radius();
	font-weight: bold;
	cursor: pointer;
	transition: 0.2s;

	&:hover {
		background-color: color($translucent);
	}
}

.TypeDropdown--Options-Item:hover {
	transform: translateY(-2px);
}
